<html>
    <head>
        <!--Inspired by: https://codepen.io/adamrifai/pen/MwZENr-->
        <link href="style.css" rel="stylesheet" />
        <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&sensor=false"></script>
        <script>
            const _location='LOCATION';
        </script>
    </head>
    <body>
        <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
        <div id="map"></div>
        <img id="overlay" src="gradient.png" />
        <img id="static" />

        <!-- Uncomment this and populate with your meetup info to generate poster with info.
             If you only need the base poster, keep this block commented

        <!-- Uncomment this if you have sponsor
        <div id="sponsor">In partnership with:</div>
        <img id="sponsor-logo" src="sponsor.png" />
        -->

        <div id="title">Kubernetes </br>Cloud Native Jakarta </br>Online Meetup #16 <br></div>
        <div id="time-location">30 June 2020 | 19.00 WIB | @Youtube</div>
        <div id="meetup-link">bit.ly/k8scloudnativejkt16</div>

        <img id="speaker-1" src="photo1.jpeg" />
        <div id="name-1">Srinivasa Vasu</div>
        <div id="role-1">Field Platform Architect @VMware</div>
        <div id="title-1">Introduction to cluster-api</div>

        <img id="speaker-2" src="photo2.jpeg" />
        <div id="name-2">Zainal Abidin</div>
        <div id="role-2">Sysadmin Head @MNC Play</div>
        <div id="title-2">Interconnection Kubernetes with </br>Docker Swarm</div>

        <script src="places.js"></script>
        <script src="script.js"></script>
    </body>
</html>
