<html>
    <head>
        <!--Inspired by: https://codepen.io/adamrifai/pen/MwZENr-->
        <link href="style.css" rel="stylesheet" />
        <script>
            const _location='LOCATION';
            const _organizer='ORGANIZER';
        </script>
    </head>
    <body>
        <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
        <div id="map"></div>
        <img id="overlay" src="gradient.png" />
        <img id="static" />

        <!-- Uncomment this and populate with your meetup info to generate poster with info.
             If you only need the base poster, keep this block commented
        -->

        <div id="sponsor">In partnership with:</div>
        <img id="sponsor-logo" src="sponsor.png" />

        <div id="title">Kubernetes </br>Cloud Native LOCATION</br>Meetup MONTH YEAR<br></div>
        <div id="time-location">DAY MONTH YEAR | 19.00 WIB | @Youtube</div>
        <div id="meetup-link">https://bit.ly/k8scloudnativeLOCATIONMONTHYEAR</div>

        <img id="speaker-1" src="photo1.jpg" />
        <div id="name-1">Alief Darul Ikhsan</div>
        <div id="role-1">Cloud Engineer @Btech</div>
        <div id="title-1">Kubernetes Service & Networking Basic</div>
        <br>
        <br>
        <br>
        <img id="speaker-2" src="photo2.jpg" />
        <div id="name-2">Arief Pribadi</div>
        <div id="role-2">Technical Director @Nutanix Indonesia</div>
        <div id="title-2">Database as a Service in Cloud Native</div>

        <div id="hosted-by">Hosted by ORGANIZER co-organizers</div>
        
        <script src="places.js"></script>
        <script src="script.js"></script>
    </body>
</html>
