<html>
    <head>
        <!--Inspired by: https://codepen.io/adamrifai/pen/MwZENr-->
        <link href="style.css" rel="stylesheet" />
        <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&sensor=false"></script>
        <script>
            const _location='LOCATION';
        </script>
    </head>
    <body>
        <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
        <div id="map"></div>
        <img id="overlay" src="gradient-topright.png" />
        <img id="static" />

        <!-- Uncomment this and populate with your meetup info to generate poster with info.
             If you only need the base poster, keep this block commented

        <div id="sponsor">In partnership with:</div>
        <img id="sponsor-logo" src="sponsor.png" />

        <div id="title">JAKARTA<br>KUBERNETES<br>MEETUP #12</div>
        <div id="time-location">19 Dec 2019 | 19:09 WIB | @BLOCK71 Kuningan</div>
        <div id="meetup-link">bit.ly/jk8s-dec19</div>

        <img id="speaker-1" src="photo1.png" />
        <div id="name-1">William Albertus Dembo</div>
        <div id="role-1">Cloud Platform Engineer @GoPay</div>
        <div id="title-1">Intro to Kubernetes Autoscaling:<br> HPA, VPA, CA, and beyond</div>

        <img id="speaker-2" src="photo2.png" />
        <div id="name-2">Kurnianto Trilaksono</div>
        <div id="role-2">Infrastructure/DevSecOps Engineer @Airy</div>
        <div id="title-2">Airy's Journey on Adopting Kubernetes in AWS</div>

        -->

        <script src="places.js"></script>
        <script src="script.js"></script>
    </body>
</html>
