.gmnoprint{
    display: none!important;
}
a img{
    display: none!important;
    object-fit: cover;
}
button {
    display: none!important;
}
body{
    margin: 0px;
    pointer-events: none!important;
}
#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    opacity: 0.95;
}
#static{
    height: 100%;
    width: 100%;
    display: none;
}
#sponsor{
    position: absolute;
    margin-top: 50px;
    margin-left: 900px;
    font-size: 50;
    font-family: 'Visby CF Medium', sans-serif;
    color: white;
    z-index: 30;
}
#sponsor-logo{
    position: absolute;
    margin-top: 120px;
    margin-left: 900px;
    width: 400px;
    z-index: 30;
}
#title{
    position: absolute;
    margin-top: 300px;
    margin-left: 50px;
    font-size: 100;
    font-family: 'Visby CF Bold', sans-serif;
    font-weight: bold;
    color: white;
    z-index: 30;
    white-space: nowrap;
}
#time-location{
    position: absolute;
    margin-top: 650px;
    margin-left: 50px;
    font-size: 50;
    font-family: 'Visby CF Medium', sans-serif;
    color: white;
    font-weight: bold;
    z-index: 30;
}
#meetup-link{
    position: absolute;
    margin-top: 720px;
    margin-left: 50px;
    font-size: 50;
    font-family: 'Visby CF Medium', sans-serif;
    font-weight: bold;
    color: white;
    z-index: 30;
}
#speaker-1{
    position: absolute;
    margin-top: 900px;
    margin-left: 50px;
    width: 225px;
    height: 225px;
    font-size: 60;
    font-family: 'Visby CF Medium', sans-serif;
    color: white;
    z-index: 30;
}
#name-1{
    position: absolute;
    margin-top: 900px;
    margin-left: 300px;
    font-size: 50;
    font-family: 'Visby CF Medium', sans-serif;
    font-weight: bold;
    color: white;
    z-index: 30;
}
#role-1{
    position: absolute;
    margin-top: 970px;
    margin-left: 300px;
    font-size: 50;
    font-family: 'Visby CF Medium', sans-serif;
    color: white;
    z-index: 30;
}
#title-1{
    position: absolute;
    margin-top: 1040px;
    margin-left: 300px;
    font-size: 50;
    font-family: 'Visby CF Bold', sans-serif;
    color: white;
    z-index: 30;
}
#speaker-2{
    position: absolute;
    margin-top: 1250px;
    margin-left: 50px;
    width: 225px;
    height: 225px;
    font-size: 60;
    font-family: 'Visby CF Medium', sans-serif;
    color: white;
    z-index: 30;
}
#name-2{
    position: absolute;
    margin-top: 1250px;
    margin-left: 300px;
    font-size: 50;
    font-family: 'Visby CF Medium', sans-serif;
    font-weight: bold;
    color: white;
    z-index: 30;
}
#role-2{
    position: absolute;
    margin-top: 1320px;
    margin-left: 300px;
    font-size: 50;
    font-family: 'Visby CF Medium', sans-serif;
    color: white;
    z-index: 30;
}
#title-2{
    position: absolute;
    margin-top: 1390px;
    margin-left: 300px;
    font-size: 50;
    font-family: 'Visby CF Bold', sans-serif;
    color: white;
    z-index: 30;
}

#hosted-by{
    position: absolute;
    margin-top: 1550px;
    margin-left: 50px;
    font-size: 50;
    font-family: 'Visby CF Medium', sans-serif;
    color: white;
    font-weight: bold;
    z-index: 30;
}
